$(function() {
  var queue = '<%= @task.queue %>';
  if (queue === 'quick') {
    $('.tasks.quick').append('<li class="wait-to-add"><span></span></li>');
  }

  var taskId = '#task-id-<%= @task.id %>';
  $(taskId).slideUp({ complete: function() {
    $(taskId).remove();
  }});

  $('.current-task').text('#<%= @current_task && @current_task.title %>#');
});
