<ul class="tasks quick">
  <% @tasks.each do |task| %>
    <%= render partial: 'task', locals: { task: task } %>
  <% end %>
  <% (5 - @tasks.count).times do |index| %>
    <li class="wait-to-add">
      <span></span>
    </li>
  <% end %>
</ul>
