<ul class="tasks quick">
  <% @tasks.each do |task| %>
    <%= render partial: 'task', locals: { task: task } %>
  <% end %>
  <% (5 - @tasks.count).times do |index| %>
    <li>
      <span>等待添加</span>
    </li>
  <% end %>
</ul>
