// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #eee;
}

header {
  text-align: center;
}

.tab {
  padding: 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
  li {
    float: left;
    & + li  {
      margin-left: 20px;
    }
  }
}
