// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './variables';

.landing-page {
  background: $color-bg;

  .header {
    background: rgba($color-black, 0.3);
    height: $header-height;
    line-height: $header-height;
    padding: 0 50px;
    position: fixed;
    width: 100%;
    z-index: 10;

    img.logo {
      height: 26px;
      width: auto;
    }
  }

  h2 {
    font-size: 38px;
  }

  .sub-title {
    font-size: 16px;
    font-weight: 100;
  }

  .banner {
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    height: 700px;
    padding-top: 236px;
    text-align: center;

    h1 {
      color: $color-white;
      font-size: 50px;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }

    .btn-start {
      border: none;
      border-radius: 37.5px;
      font-size: 26px;
      margin-top: 74px;
      outline: none;
      padding: 24px 65px;
    }
  }

  .efficient-time-management {
    text-align: center;
    margin-top: 64px;

    h2 {
      .primary {
        color: $color-primary;
      }
    }

    .sub {
      color: #333;
    }

    .descriptions {
      margin-top: 54px;
    }

    .description {
      line-height: 22px;
      color: #999999;

      .serial-number {
        background-color: $color-primary;
        border-radius: 50%;
        color: $color-white;
        display: inline-block;
        height: 22px;
        width: 22px;
      }
      .emphasis {
        color: #333;
      }
    }

    .demo {
      width: 287px;
      height: 400px;
    }
  }

  .comment-recommendation {
    background-image: url("/assets/comment-bg.jpg");
    background-size: cover;
    color: $color-white;
    height: 500px;
    margin-top: 102px;
    padding-top: 84px;
    text-align: center;

    h2 {
      margin-top: 0;
    }
  }
}
