@import './variables';

.landing-page {
  background: $color-bg;

  .header {
    background: rgba($color-black, 0.3);
    height: $header-height;
    line-height: $header-height;
    padding: 0 50px;
    position: fixed;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img.logo {
      height: 26px;
      width: auto;
    }

    .header-menu {
      a,
      a:hover,
      a:focus,
      a:active {
        margin-left: 30px;

        font-size: 16px;
        color: $color-white;
        text-decoration: none;    
      }
    }
  }

  h2 {
    font-size: 38px;
  }

  .sub-title {
    font-size: 16px;
    font-weight: 100;
  }

  .banner {
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    height: 700px;
    padding-top: 236px;
    text-align: center;

    h1 {
      color: $color-white;
      font-size: 50px;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }

    .btn-start {
      background-image: linear-gradient(120deg, #007eff, #0096ff);
      border-radius: 37.5px;
      border: none;
      font-size: 26px;
      height: 75px;
      margin-top: 74px;
      width: 240px;
    }
  }

  .efficient-time-management {
    text-align: center;
    margin-top: 64px;

    h2 {
      .primary {
        color: $color-primary;
      }
    }

    .sub {
      color: #333;
    }

    .descriptions {
      margin-top: 54px;
    }

    .description {
      line-height: 22px;
      color: #999999;

      .serial-number {
        background-color: $color-primary;
        border-radius: 50%;
        color: $color-white;
        display: inline-block;
        height: 22px;
        width: 22px;
      }
      .emphasis {
        color: #333;
      }
    }

    .demo {
      width: 287px;
      height: 400px;
    }
  }

  .comment-recommendation {
    background-image: url("/assets/comment-bg.jpg");
    background-size: cover;
    color: $color-white;
    height: 500px;
    margin-top: 102px;
    padding-top: 84px;
    text-align: center;

    h2 {
      margin-top: 0;
    }

    .container {
      margin-top: 80px;

      .panel-body {
        padding: 50px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      .comment {
        width: 90%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        p {
          font-size: 20px;
          color: $color-deep-gray;

          margin: 0 20px;
        }
        
        .quotation-mark {
          font-size: 70px;
          line-height: 0.9;
          color: $color-gray;
        }        
      }

      .author {
        margin-top: 80px;

        .primary-name {
          color: $color-primary;
          font-size: 34px;
        }

        .secondary-name {
          color: $color-light-gray;
          font-size: 20px;
        }
      }
    }
  }
}

.quick-start {
  padding-top: 160px;  
  text-align: center;  

  h1 {
    font-size: 32px;
    font-weight: bold;

    .primary {
      color: $color-primary;
    }
  }

  .iframe-container {
    overflow: hidden
  }

  iframe {
    margin-top: -100px;
  }
}

footer {
  text-align: center;

  padding: 20px 0;

  font-size: 14px;

  .tip {
    color: $color-light-gray;   
    margin-right: 15px;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    color: rgba(38, 38, 38, 0.25);

    padding-left: 5px;
    padding-right: 8px;

    border-right: 1px solid rgba(38, 38, 38, 0.25);
  }

  .none-border {
    border: none;
  }
}
