<div class="landing-page">
  <div class="header">
    <img class="logo" src="/assets/monotoday-logo@2x.png" alt="MonoToday">
  </div>
  <div class="banner">
    <h1>
      MonoToday 使用#单核工作法#<br/>
      科学提高你的工作效率
    </h1>
    <button class="btn btn-primary btn-start">立即开始</button>
  </div>

  <div class="efficient-time-management">
    <h2>高效<span class="primary">时间管理</span></h2>
    <p class="sub-title">Efficient time management</p>
    <div class="descriptions">
      <p class="description">
        <span class="serial-number">1</span>
        将此刻最应开始的工作 <span class="emphasis">按优先级放入快捷清单</span> (5条以内)
      </p>
      <p class="description">
        <span class="serial-number">2</span>
        超过5条与未确定优先级的工作 <span class="emphasis">可暂存集草器</span> (收集次要工作)
      </p>
      <p class="description">
        <span class="serial-number">3</span>
        点击“开始单核”专注的开始 <span class="emphasis">快捷清单上最优先的工作</span>
      </p>
    </div>
    <img class="demo" src="/assets/mono-demo@2x.png" alt="MonoDemo">
  </div>

  <div class="comment-recommendation">
    <h2>评论&推荐</h2>
    <p class="sub-title">Comment & recommendation</p>
  </div>
</div>
