<div class="landing-page">
  <div class="header">
    <img class="logo" src="/assets/mono-logo-white.png" alt="MonoToday">
    
    <div class="header-menu">
      <a href="/tasks/quick">开始单核工作</a>
      <a href="https://baike.baidu.com/item/%E5%8D%95%E6%A0%B8%E5%B7%A5%E4%BD%9C%E6%B3%95/22119461?fr=aladdin" target="blank">关于</a>
    </div>
  </div>

  <div class="banner">
    <h1>
      MonoToday 使用#单核工作法#<br/>
      科学提高你的工作效率
    </h1>
    <a href="/tasks/quick">
      <button class="btn btn-primary btn-start">立即开始</button>
    </a>
  </div>

  <div class="efficient-time-management">
    <h2>高效<span class="primary">时间管理</span></h2>
    <p class="sub-title">Efficient time management</p>
    <div class="descriptions">
      <p class="description">
        <span class="serial-number">1</span>
        将此刻最应开始的工作 <span class="emphasis">按优先级放入快捷清单</span> (5条以内)
      </p>
      <p class="description">
        <span class="serial-number">2</span>
        超过5条与未确定优先级的工作 <span class="emphasis">可暂存集草器</span> (收集次要工作)
      </p>
      <p class="description">
        <span class="serial-number">3</span>
        点击“开始单核”专注的开始 <span class="emphasis">快捷清单上最优先的工作</span>
      </p>
    </div>
    <img class="demo" src="/assets/mono-demo@2x.png" alt="MonoDemo">
  </div>

  <div class="comment-recommendation">
    <h2>评论&推荐</h2>
    <p class="sub-title">Comment & recommendation</p>

    <div class="container">
      <div class="row">
        <div class="panel col-md-10 col-md-offset-1">
          <div class="panel-body">
            <div class="comment">
              <span class="quotation-mark">“</span>
              <p>
                管理好人生的良好办法，就是管理好我们的时间。
                不论工作、学习还是生活，任何一套方法，能让你从纷杂的信息和事务抽身而出，获得阶段性的专注，都值得一试。
              </p>
              <span class="quotation-mark">”</span>
            </div>

            <div class="author">
              <p class="primary-name">吴晓波，财经专家</p>
              <p class="secondary-name">Wu Xiaobo, Financial expert</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="quick-start">
    <div>
      <h1>
        试试在输入框中<span class="primary">&nbsp;#添加工作#</span> 
      </h1>
      <h1>
        以开始一次单核工作吧      
      </h1>
    </div>

    <div class="iframe-container">
      <iframe
        width="100%"
        height="810"
        scrolling="no"
        frameborder="0"
        seamless      
        src="/tasks/quick">
      </iframe>
    </div>
  </div>

  <footer>
    <span class="tip">更多链接</span>
    <a href="https://baike.baidu.com/item/%E5%8D%95%E6%A0%B8%E5%B7%A5%E4%BD%9C%E6%B3%95/22119461?fr=aladdin" target="blank">百度百科「单核工作法」</a>
    <a href="https://book.douban.com/subject/27177909/" target="blank">豆瓣书评「单核工作法」</a>
    <a href="https://seabornlee.cn/" target="blank">李小波</a>
    <a href="http://evilsin.me/" target="blank">老柒</a>
    <a href="http://huangyu.design/" target="blank">Hydesign</a>
  </footer>
</div>
